*,
::after,
::before,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
section,
header,
footer {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #79D1C3;
    --secondary: #C9FDD7;
    --third: #6892D5;
    --fourth: #F8FCFB;
    --orange: rgba(239, 161, 83);
    --red: #ee827c;
}

@font-face {
    font-family: "NotoSansTC";
    src: url(../fonts/NotoSansTC-Regular.otf);
}

body {
    font-family: "NotoSansTC";
}

ul,
li {
    list-style: none;
}

p {
    line-height: 32px;
    letter-spacing: 1.8px;
    text-align: justify;
}

.object-cover {
    object-fit: cover;
    object-position: center;
}

section {
    height: 100vh;
    padding-top: 70px;
    padding-bottom: 70px;
}

@media (max-width: 1200px) {

    section,
    .row {
        height: 100%;
    }
}

.bg-navbar {
    z-index: 20;
    background: var(--third);
    backdrop-filter: bluer(10px);
    box-shadow: 2px 2px 10px #222;
}

.title {
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    background: linear-gradient(135deg, var(--primary), var(--third), lightgreen);
    font-weight: bold;
    letter-spacing: 14px;
    color: transparent;
    -webkit-background-clip: text;
    font-size: 4.8vw;

    @media (max-width: 768px) {
        font-size: 32px;
    }
}

.navbar {
    .logo {
        height: 60px;
        width: 60px;
        object-fit: contain;
    }

    .logo_text {
        font-size: 1.8em;
        color: var(--primary);
    }

    .nav-link {
        color: #242323;
        font-weight: bold;
    }

    li {
        padding-left: 4px;
        padding-right: 4px;

        a {
            position: relative;
            display: block;
            padding: 4px 0;
            text-align: center;
            font-size: 1.2em;
            transition: .5s;
            color: var(--fourth) !important;

            &::after {
                position: absolute;
                content: "";
                top: 100%;
                left: 0;
                width: 100%;
                height: 4px;
                background-color: var(--primary);
                transform: scaleX(0);
                transform-origin: right;
                transition: transform .5s;
            }

            &:hover {
                color: var(--primary) !important;
            }

            &:hover::after {
                transform: scaleX(1);
                transform-origin: left;

                @media (max-width: 992px) {
                    display: none;
                }
            }
        }
    }
}

#bannercarousel {
    @media (max-width: 992px) {
        display: none;
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 10%;
    }

    .carousel-caption {
        text-align: left;
        left: 10%;
        bottom: 40%;
        color: #303030;

        h3 {
            font-size: 6vw;
            color: white;
        }

        .h3_1 {
            text-shadow:
                #860586 0px 0px 4px, #860586 0px 0px 4px, #860586 0px 0px 4px,
                #860586 0px 0px 4px, #860586 0px 0px 4px, #860586 0px 0px 4px;
        }

        .h3_2 {
            text-shadow:
                var(--third) 0px 0px 4px, var(--third) 0px 0px 4px, var(--third) 0px 0px 4px,
                var(--third) 0px 0px 4px, var(--third) 0px 0px 4px, var(--third) 0px 0px 4px;
        }

        .h3_3 {
            text-shadow:
                #202020 0px 0px 4px, #202020 0px 0px 4px, #202020 0px 0px 4px,
                #202020 0px 0px 4px, #202020 0px 0px 4px, #202020 0px 0px 4px;
        }

        p {
            font-size: 2vw;
            color: white;
        }

        .p_1 {
            text-shadow:
                #ff6832 0px 0px 4px, #ff6832 0px 0px 4px, #ff6832 0px 0px 4px,
                #ff6832 0px 0px 4px, #ff6832 0px 0px 4px, #ff6832 0px 0px 4px;
        }

        .p_2 {
            text-shadow:
                #797979 0px 0px 4px, #797979 0px 0px 4px, #797979 0px 0px 4px,
                #797979 0px 0px 4px, #797979 0px 0px 4px, #797979 0px 0px 4px;
        }

        .p_3 {
            text-shadow:
                #ff6832 0px 0px 4px, #ff6832 0px 0px 4px, #ff6832 0px 0px 4px,
                #ff6832 0px 0px 4px, #ff6832 0px 0px 4px, #ff6832 0px 0px 4px;
        }
    }
}

#about {
    background-image: url('..//img/about.png');
    background-size: cover;
    background-repeat: no-repeat;

    .carousel {
        border-radius: 36% 64% 70% 30%/30% 56% 44% 70%;
        overflow: hidden;

        img {
            width: 600px;
            height: 400px;
        }
    }

    .about_para {
        font-size: 18px;
        color: #797979;

        @media (max-width: 768px) {
            font-size: 16px;
        }
    }

    .ribbon {
        position: absolute;
        width: 70px;
        height: 70px;
        background-color: #fff;
        border: 4px solid var(--primary);
        border-radius: 50%;
        top: -30px;
        right: 50px;
        display: grid;
        place-items: center;
        font-size: 2em;
        color: var(--third);
    }

    .col-lg-3 {
        transition: 600ms;

        &:hover {
            transform: translateY(-16px);

        }
        .about_card {
            border-radius: 1em;
            background-color: #fff;
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
            border-top: 4px solid var(--red);
            border-bottom: 4px solid var(--red);
        }
    }

}

#news {
    .news-text{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
}